<% content_for :head do -%>
	<meta name="title" content="Edit My Blend">
<% end -%>
<% content_for :subheader do %>
  <h1><%= (@product.is_custom? ? t(:make_your_own_blend) : t(:customize_your_product)) %></h1>
<% end %>
<div id="edit-product">
	<%=form_for @product do |f| %>
	<%= render 'spree/shared/error_messages', :target => f.object %>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>